@import url('https://fonts.googleapis.com/css?family=Roboto:400,500,700&display=swap');

* {
   margin: 0;
   padding: 0;
   outline: 0;
   box-sizing: border-box;
}

body {
   background-color: rgb(250, 250, 255);
   color: #FFF;
   font-size: 16px;
   font-family: Roboto, sans-serif;
   -webkit-font-smoothing: antialiased;
}

a {
   text-decoration: none;
   color: #FFF;
}